<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>¡Story About Me!</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/style.css">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
</head>
<!--Utilizar variables scss aquí-->

<body>
    <nav class="navbar navbar-expand-lg mynav">
      <nav class="navbar Inicio">
        <div class="container-fluid">
          <a class="navbar-brand" href="../index.html">
            <img src="../static\images\Inicio.png" alt="Inicio.png" width="30" height="25" class="d-inline-block align-text-top">
            Inicio
          </a>
        </div>
      </nav> 
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-link active botoncolor" href="../templates/history.html">Historia<span class="sr-only">(current)</span></a>
            <a class="nav-link botoncolor" href="../templates/interest.html">Intereses</a>
            <a class="nav-link botoncolor" href="../templates/skills.html">Habilidades</a>
            <a class="nav-link botoncolor" href="../templates/gallery.html">Galería</a>
          </div>
        </div>
      </nav>

    <section>
        <article>
            <div class="card mb-3 historysection">
                <!--Cambiar por carrusel y cambiar imagenes-->
                <img src="../static\images\history.jpg" class="card-img-top imagen" alt="FotoHistoria.jpg" height="450px">
                <div class="card-body">
                    <h5 class="card-title">Mi historia</h5>
                    <p class="card-text">Nací en el hospital bautista ubicado en managua, el 8 de enero del 2001. Mis padres son Rodolfo Vílchez Zelaya y Roxana Méndez Stockhausen ambos de profesión enfermeros y actualmente habitamos en Bello horizonte. </p>
                    <p class="card-text">Hablando un poco sobre mi pasado, me gradué de preescolar a la edad de 5 años en el colegio pio X, unos años poco difícil como a todos nos paso de pequeños jaja. Luego, entre a mi primaria en el colegio sagrada familia el año 2006 y culmine mi primaria en el año 2012 con 12 años, esta etapa fue más distraída donde me divertí mucho jugando con mis amigos, y entro unos y otros accidente donde casi quedo invalido xd. Comenzando el 2013, empecé mi secundaria en el colegio parroquial san Rafael culminándolo en el 2017, al comienzo fue un tanto difícil porque uno trata de adaptarse, conocer, etc. También, fue una de las etapas mas bonitas, pero también difíciles por ciertos casos. Participe en la banda musical del colegio como lirista, y asistimos a eventos importante a lo largo del año, también jugador de futbol para representar a mi colegio, como abanderado, entre otros. </p>
                    <p class="card-text">Luego empecé mi universidad luego de aprobar el examen de admisión en el 2018, recuerdo que el resultado me lo dieron el día de mi cumpleaños, ese momento fue maravilloso, temblar mientras entraba a la página con mi familia alrededor, luego al ver el aprobado y en mi primera opción grite y salte junto a mi familia. Tiempo después, pisar la uni ver los edificios, aulas, los maestro y compañeros me sentí impresionado entre otras emociones. Y ps, actualmente estoy cursando mi segundo semestre de 3er año de mi carrera, donde he aprendido, llorado, estresado, enojado, emocionado y entusiasmado. Por ultimo he participado en congresos, talleres, ferias, varios cursos, aplicado en pasantías y más.</p>
                </div>
            </div>             
        </article>
    </section>
</body>

<footer>
    <h6>Información de contacto</h6>
    <p>WhatsApp: +505 87919987</p>
    <p>Facebook: <a href="https://www.facebook.com/milton.vilchezstockhausen/">Milton Vílchez Stockhausen</a></p>
    <p>Instagram: <a href="https://www.instagram.com/miltonvilc/">Milton Vílchez Stockhausen</a></p>
    <p>GitHub: <a href="https://github.com/MiltonVilchez">MiltonVilchez</a></p>
</footer>