<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Interests</title>
    <link rel="shortcut icon" href="/static/images/favicon.png">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link rel="stylesheet" href="../static\style.css">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
</head>

<!--Utilizar variables aquí-->

<body>
    <nav class="navbar navbar-expand-lg mynav">
      <nav class="navbar Inicio">
        <div class="container-fluid">
          <a class="navbar-brand" href="../index.html">
            <img src="../static\images\Inicio.png" alt="Inicio.png" width="30" height="25" class="d-inline-block align-text-top">
            Inicio
          </a>
        </div>
      </nav> 
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-link active botoncolor" href="history.html">Historia<span class="sr-only">(current)</span></a>
            <a class="nav-link botoncolor" href="interest.html">Intereses</a>
            <a class="nav-link botoncolor" href="skills.html">Habilidades</a>
            <a class="nav-link botoncolor" href="gallery.html">Galería</a>
        </div>
      </div>
    </nav>

    <section>
        <article>
          <div class="card mb-3 historysection">
            <!--Cambiar por carrusel y cambiar imagenes -->
            <img src="../static\images\Intereses.jpg" class="card-img-top imagen" alt="FotoIntereses.jpg" height="450px">
            <div class="card-body">
              <h5 class="card-title">Mis intereses</h5>
              <p class="card-text">Hablando de mis intereses, a lo largo de mi vida he tenido varios jaja, comenzando con camiones de construcción, de bomberos, la medicina y la salud es algo que me ha intrigado, la aviación fue una de los mas fuertes intereses que he tenido, pensé en ser piloto, también militar, y ultimadamente he estado muy interesado sobre temas de astronomía, las estrellas, planetas, objetos del universo para no extenderme mucho xd, tengo un interés elevado sobre la computadoras, la ciencia y análisis de datos, la inteligencia artificial, temas como hacking y ciberseguridad, entre otros. Me interesan los automóviles como las camionetas cerradas, o de sport. Mi actual coche favorito son los teslas model x, las suv range rover, la toyota fortuner o rush, entre otras xd. Otra cosa de mi interés son las casa con arquitectura moderna, la cocina es algo que me fascina. Tambien, la ropa de moda, los conjuntos, etc. </p></p>              
            </div>
          </div>            
        </article>
    </section>

    <section>
      <article>
        <div class="card mb-3 historysection">
          <!--Cambiar por carrusel-->
          <img src="../static\images\Intereses.jpg" class="card-img-top imagen" alt="FotoIntereses.jpg" height="450px">
          <div class="card-body">
            <h5 class="card-title">Mis hobbits</h5>
            <p class="card-text">
              Comentando sobre mis hobbits, mi favorito es estar en la computadora investigando, programando, viendo videos, o cualquier otra cosa. 
              <a href="hobbits.html">Ver más..</a>
            </p>            
          </div>
        </div>            
    </article>
    </section>
</body>
<footer>
    <h6>Información de contacto</h6>
    <p>WhatsApp: +505 87919987</p>
    <p>Facebook: <a href="https://www.facebook.com/milton.vilchezstockhausen/">Milton Vílchez Stockhausen</a></p>
    <p>Instagram: <a href="https://www.instagram.com/miltonvilc/">Milton Vílchez Stockhausen</a></p>
    <p>GitHub: <a href="https://github.com/MiltonVilchez">MiltonVilchez</a></p>
</footer>

</html>